<!-- <div class="container">
	 <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
<form method="POST" action="/posts/create">
  <label for="author">Author</label>
  <input id="author" type="text" name="post[author]">
  <label for="title">Title</label>
  <input id="title" type="text" name="post[title]">
  <textarea name="post[description]"></textarea>
  <label for="tags">Tags</label>
  <input id="tags" type="text" name="tags">
  <%= token_tag form_authenticity_token %>
  <button>Save</button>
</form>
		</div>
	</div>
</div>
 -->

 <div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
			<h2>Enter a Post</h2>
				<%= form_for @post do |form| %>
 			  <%= form.text_field :title %>
  			<%= form.text_field :author %>

  			<%= form.text_area :description %>
  			<%= token_tag form_authenticity_token %>
 			  <%= form.submit "Save Post" %>
					<% end %>
			</div>
		</div>
</div>
