<h1><%= @post.title %></h1>

<p>Author: <%= @post.author %></p>

<% if @tags.length > 0 %>
<p>Tags:
<% @tags.each do |tag| %>
<a href="/tags/<%=tag.id%>"><%=tag.name%></a>
<% end %>
</p>
<% end %>

<p><%= @post.description %></p>

<form method="GET" action="/posts/<%=@post.id%>/edit">
  <%= token_tag form_authenticity_token %>
  <button>Update</button>
</form>
<form method="POST" action="/posts/<%=@post.id%>">
  <input type="hidden" name="_method" value="DELETE">
  <%= token_tag form_authenticity_token %>
  <button>Delete</button>
</form>
